*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    /*  I remove the overflow property*/
    background: black;
    color: orange;
}
header{
    margin-top: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #FFA500;
    border-bottom: 3px solid #FFA500;
}
@media(max-width: 995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #FFA500;
        border-bottom: 3px solid #FFA500;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
   
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }
    nav a:hover,
    nav a.active{
        border-radius: 0.5rem;
        padding: 1rem;
        border-bottom: 0.5rem solid #FFA500;
    }
}

section{
    min-height: 120vh;
    padding: 5rem 2% 5rem;

}
.content{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}
.content ul li{
    list-style: none;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.content ul li a{
    color: white;
    transition: 0.3s ease;
    margin: 5px;
    
}