body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-box {
  background-color: white;
  width: 400px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-box h2 {
  text-align: center;
  color: #061d47;
  margin-bottom: 20px;
}

.form-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-box input[type="text"],
.form-box input[type="time"],
.form-box input[type="date"] {
  width: calc(100% - 10px);
  padding: 8px 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-box input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #061d47;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-box input[type="submit"]:hover {
  background-color: #005fa3;
}